button {
  font-weight: 700;
  width:300px;
  color: white;
  height: 50px;
  border-radius: 0;
  background: transparent;
  outline: none;
  border: 0;
  text-decoration: underline;
  font-size: 25px;
}
button:hover {
background: transparent;
text-decoration: none;
}
button:active {
  background: transparent;
  outline: none;
}
h1 {
font: 30px Arial;
color: RGB(255, 255, 255);
}

p {
font: 25px Arial;
color: RGB(255, 255, 255);
}
body{background-color: RGB(217, 196, 151);}

label{
font: 20px Arial;
color: RGB(255, 255, 255);
}

input {
font: 20px Arial;
color: RGB(255, 255, 255);
background-color: RGB(217, 196, 151);
text-decoration: underline;
border: 0;
}
input:hover {
background: transparent;
text-decoration: none;
}


