<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <title>ПУСК</title>
     <style>
   table {
    width: 100%;
   }
  </style>
 </head>
 <body>
  <table>
   <tr>
    <th style="width: 33%;" height="50">
        <form method="get" action="/pattern">
        <button>Шаблоны</button>
        </form></th>
    <th style="width: 33%;">
        <form method="post" action="/check">
        <button style="height: 100;">Проверка презентаций</button>
        </form>
    </th>
    <th style="width: 33%;">
        <form method="post" action="/recommendation">
        <button>Рекомендации</button>
        </form>
    </th>
   </tr>
  </table>
  <h1 align="center" style="margin:30px;">На данной странице вы можете проверить свою презентацию</h1>

 <form method="post" enctype="multipart/form-data" action="/check/response" >
     <center>
    <div class="form-group" >
        <label for="photo" style="font-size: 30px;">Выберите файл</label>
        <input type="file" class="form-control-file" id="photo" name="file" style="font-size: 30px; button: rgb(64,199,129);">
    </div>
     <button type="submit" style="width: 200px;"  class="btn btn-primary" >Отправить</button>
     </center>
 </form>

 </body>
</html>