<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <title>ПУСК</title>
     <style>
   table {
    width: 100%;
   }
  </style>
 </head>
 <body>
  <table border="0">
   <tr>
    <th style="width: 33%;" height="50">
        <form method="post" action="/pattern">
        <button value="two" name="two" >Шаблоны</button>
        </form></th>
    <th style="width: 33%;">
        <form method="post" action="/check">
        <button value="three" name="three" style="height: 100;">Проверка презентаций</button>
        </form>
    </th>
    <th style="width: 33%;">
        <form method="post" action="/recommendation">
        <button value="two" name="two">Рекомендации</button>
        </form>
    </th>
   </tr>
  </table>
    <h1 align="center">На данной странице вы можете скачать готовые шаблоны</h1>
 <table border="1"><tr>
    <td width="33%"><img src="../static/image/sera.jpg" width="100%"></td>
     <td width="33%"><img src="../static/image/lucifer.jpg" width="100%"></td>
     <td width="33%"><img src="../static/image/raphael.jpg" width="100%"></td>
 </tr>
     <tr>
         <td><a href="../static/image/sera.jpg" download>Скачать файл</a></td>
         <td><form method="get">
        <button value="1" name="1" >Скачать</button>
        </form></td>
         <td></td>
     </tr>
 </table>
 </body>
</html>