<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <title>ПУСК</title>
     <style>
   table {
    width: 100%;
   }

  </style>
 </head>
 <body>
  <table border="0">
   <tr>
    <th style="width: 33%;" height="50">
        <form method="get" action="/pattern">
        <button>Шаблоны</button>
        </form></th>
    <th style="width: 33%;">
        <form method="get" action="/check">
        <button style="height: 100;">Проверка презентаций</button>
        </form>
    </th>
    <th style="width: 33%;">
        <form method="get" action="/recommendation">
        <button>Рекомендации</button>
        </form>
    </th>
   </tr>
  </table>
 <h1 align="center" style="margin: 30px;">На данной странице представленны советы по созданию презентации</h1>
  <h1 style="height:10px">• оптимальный объем</h1>
  <p>зависит от цели, способа использования и возраста
обучающихся — чем старше, тем больше слайдов</p>
  <h1 style="height:10px">• минимум текстовой информации</h1>
  <p>максимально заменить ее схемами,
рисунками, фото и т.д.</p>
  <h1 style="height:10px">• один слайд — одна мысль</h1>
  <p>не более трех мелких фактов на слайде и не
более одного важного</p>
  <h1>• небольшое количество материала на одном слайде</h1>
  <h1>• занимательность, юмор</h1>
  <h1 style="height:10px">• параллельный список</h1>
  <p>первые слова в одинаковом падеже — рассмотреть,
выявить и т.д.</p>
  <h1>• крупный шрифт</h1>
  <h1>• гармоничные цветовые сочетания и эстетичность в оформлении слайдов</h1>
  <h1 style="height:10px">• выдержанность, единство стиля</h1>
  <p>(одинаковая гарнитура и размер шрифта,
заголовки, номера страниц, кнопки перелистывания — в одном и том же
месте экрана, одинаковая цветовая гамма, фон</p>
  <h1 style="height:10px">• минимум анимации и эффектов</h1>
 </body>
</html>