<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <title>ПУСК</title>
     <style>
   table {
    margin: 40px;
    position: absolute;
    right: 0;
    border-spacing: 40px 0px;
   }
  </style>
 </head>
 <body background="../static/image/background.png" style="background-size: 100%;">
 <table cellpadding="0">
     <tr>
         <td><form method="get" action="/pattern"><button style="width: 300px;">Скачать шаблоны</button></form></td>
         <td><form method="get" action="/recommendation"><button style="width: 300px;">наши рекомендации</button></form></td>
     </tr>
 </table>
        <form method="get" action="/check"><button style="width: 300px; margin-left: 200px; margin-top: 500px;">Проверить свою<br /> презентацию</button></form>
 </body>
</html>