<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/one.css" />
    <title>ONE</title>
</head>
<body>
    <form method="post" action="/two">
        <button value="two" name="two" style="stylesheet">two</button>
    </form>
    <form method="post" action="/three">
        <button value="three" name="three" style="stylesheet">three</button>
<!--        <input type="submit" value="three" name="three"/>-->
    </form>
</body>
</html>